image: Visual Studio 2017
branches:
  only:
  - master
  - develop
install:
  - cinst gitversion.portable -y
before_build:
  - nuget restore
  - ps: $env:VERSION=$(gitversion /showvariable NuGetVersionV2)
build_script:
  - ps: dotnet restore
  - ps: cd src/dotnet-setversion; dotnet setversion $env:VERSION; dotnet pack -c Release -o release/; cd ../..
test_script:
  - ps: cd test/integration; dotnet test -c Release; cd ../..
artifacts:
  path: src/dotnet-setversion/release/*.nupkg
  name: NuGet packages
deploy:
  provider: NuGet
  skip_symbols: false
  api_key:
    secure: USCwZe1eILJaDmG30VFhlFWmr2P0G6o0HhUau72/W+TzyAMZyqEfL//vQhfjTSKP
  artifact: NuGet packages
  on:
    branch: master